.footer .wrapper__sosmed {
  display: flex;
  justify-content: end;
  column-gap: 2px;
  padding-top: 5px;

  .instagram,
  .facebook,
  .twitter {
    color: white;
  }

  .instagram:hover,
  .facebook:hover,
  .twitter:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
  }
}
